<h1><%= t ".pw_text" %></h1>
<p><%= t ".pw_click_below" %></p>
<%= link_to t("password_reset"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t ".pw_expire" %></p>
<p><%= t ".pw_content" %></p>
